body {
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100vh;
  margin: 0;
}
.card {
  color: indigo;
  border: 3px solid teal;
  padding: 2rem;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1rem;
  background-color: rgba(238, 50, 153, 0.918);
  opacity:3;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.50);
}

 h2 .city{
  word-spacing: 2px;
}

/* .card .input{
    border: limegreen;
    color:limegreen;
} */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0.5rem;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  /* padding: 3px; */
  outline: none;
  background-color: teal;
  color: indigo;
  cursor: grabbing;
  transition: 0.2s ease-in-out;
}

button:hover{
background-color: transparent;
color: teal;
cursor:progress;
}

.search-bar {
  border: 2px solid teal;
  border-radius: 16px;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: indigo;
  font-size: 120%;
  font-weight: 600;
  text-transform: uppercase;
  width: calc(100%-100px);
}
.humidity {
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}
.wind {
  font-weight: 600;
  font-style: italic;
}
.temp {
  font-weight: 600;
  font-style: italic;
}
h1 .temp {
    margin: 0;
    /* margin-bottom: 0.4rem; */
  }
.description{
    text-transform: uppercase;
    margin-left: 8px;
    font-weight: 600;
    font-style: italic;
}
.icon{
    display: flex;
}
.flex{
 display: flex;
 align-items: center;   
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}